{% set doc = hit._source %}
<li class="hit">
 <span class="title">
  <a href="{{doc.url}}">{{doc.htmlTitle|raw}}</a>
  {% if doc.author.name %}
  by
  <em>
   {% if doc.author.url %}
   <a href="{{doc.author.url}}">{{doc.author.name}}</a>
   {% else %}
   {{doc.author.name}}
   {% endif %}
  </em>
  {% endif %}
 </span>
 <br/><tt class="url" title="{{doc.extra.cleanUrl}}">{{ellipsis(doc.extra.cleanUrl, 60)}}</tt>
 <span class="extract">
  <br/>
  {% if doc.status.modate %}
  <span class="date">{{doc.extra.day|date("Y-m-d")}}</span>
  {% endif %}
  {{doc.htmlText|raw}}
 </span>
</li>
