{% if hitcount == 0 %}
 <div style="text-align: center; margin-top: 5ex; margin-bottom: 5ex">
  No results
  for "<strong><tt>{{cleanQuery}}</tt></strong>"
  {% if site %}
  on <strong><tt>{{site}}</tt></strong>
  &#160;&#160;&#160;|&#160;&#160;&#160;
  <a href="{{urlNoSite}}">Show all results</a>
  {% endif %}
 </div>
{% else %}
<p class="resultinfo">
  {{hitcount}}
  {% if hitcount == 1 %}result{% else %}results{%endif%}
  for "<strong><tt>{{cleanQuery}}</tt></strong>"
  {% if site %}
  on <strong><tt>{{site}}</tt></strong>
  &#160;&#160;&#160;|&#160;&#160;&#160;
  <a href="{{urlNoSite}}">Show all results</a>
  {% endif %}
 </p>
 <ul class="hits">
 {% for hit in hits %}
   {% include hitTemplate %}
 {% endfor %}
 </ul>
 {% include 'pager.htm' %}
{% endif %}
