<?php
$GLOBALS['phinde'] = array(
    //name of the app in the frontend
    'apptitle' => 'website search',
    'elasticsearch' => 'http://127.0.0.1:9200/phinde/',
    //whitelist of domains that shall be crawled
    'domains' => array(
        'www.example.org',
        'test.example.org'
    ),
    //list of URL beginnings that should be ignored
    'blacklist' => array(
        'http://bad.example.org/'
    ),
    //list of regexes for URLs that should not be crawled
    'crawlBlacklist' => array(
    ),
    //verbose output
    'debug' => true,
    //time in seconds after which URLs may be re-indexed
    'refreshtime' => 86400,
    //if directly linked URLs shall be indexed, even if they are
    // on a non-whitelisted domain
    'indexNonAllowed' => true,
    //prefix for the gearman queue names, needed when multiple instances
    //are running in parallel
    'queuePrefix' => '',
    //show the full text content in the results
    // useful for chat logs in which every line is its own document
    'showFullContent' => false,
    //search result "hit" template file
    'hitTemplate' => 'hit.htm',
    //sidebar help text. empty to disable
    'sidebarinclude' => 'search/sidebar-searchtips.htm',
    //default sort order: "score" or "date"
    'defaultSort' => 'score',
    //database for PuSH subscriptions
    'db_dsn' => 'mysql:host=localhost;dbname=phinde',
    'db_user' => 'FIXME',
    'db_pass' => 'FIXME',
);
?>
