{% set links = pager.getLinks() %}
{% if pager.numPages > 1 %}
<div class="pagination pagination-centered">
<ul>
 {% if links.prev.active %}
 <li>
  {{links.prev.html|raw}}
 </li>
 {% else %}
 <li class="disabled"><a href="#">{{links.prev.title}}</a></li>
 {% endif %}

 {% for link in links.pages %}
  {% if link.active %}
 <li>
  {{link.html|raw}}
 </li>
  {% elseif link.title == "…" %}
 <li class="disabled"><a href="#">{{link.title}}</a></li>
  {% else %}
 <li class="active">
  <a href="#">{{link.title}}</a>
 </li>
  {% endif %}
 {% endfor %}

 {% if links.next.active %}
 <li>
  {{links.next.html|raw}}
 </li>
 {% else %}
 <li class="disabled"><a href="#">{{links.next.title}}</a></li>
 {% endif %}
</ul>
</div>
{% endif %}
