{% extends "base.htm" %}

{% block meta %}
 {% if query %}
 <meta name="robots" value="noindex,nofollow"/>
 {% endif %}
{% endblock %}

{%block title %}
 {% if query %}
 "{{query}}" search results -
 {% endif %}
{% endblock %}

{% block maincontent %}
  <div class="navbar navbar-inverse navbar-static-top">
   <div class="navbar-inner">
    <div class="container">
     <ul class="nav">
      <li>
       <a class="brand" href="{{baseUrl}}">{{apptitle}}</a>
      </li>
     </ul>
     <form class="navbar-form pull-left">
      <input type="text" name="q" placeholder="Search"
             value="{{query}}" class="input-xxlarge"/>
      {% if siteParam %}
      <input type="hidden" name="site" value="{{site}}"/>
      {% endif %}
      <button type="submit" class="btn">Find</button>
     </form>
    </div>
   </div>
  </div>
  <div class="container">
   <div class="row">
    {% if query %}
    <div class="span9">
     {% include 'search/list.htm' %}
    </div>
    <div class="span3">
     {% include 'search/sidebar.htm' %}
    </div>
    {% else %}
    <div class="span3"></div>
    <div class="span6">
     <div class="hero-unit">
      <h2>Hi!</h2>
      <p>
       Type something in the text box above to search ⬆
      </p>
     </div>
    </div>
    {% endif %}
   </div>
  </div>
{% endblock %}
