{% extends "base.htm" %}

{%block title %}"{{query}}" search results{% endblock %}

{% block maincontent %}
  <div class="navbar navbar-inverse navbar-static-top">
   <div class="navbar-inner">
    <div class="container">
     <ul class="nav">
      <li>
       <a class="brand" href="{{baseurl}}">{{apptitle}}</a>
      </li>
     </ul>
     <form class="navbar-form pull-left">
      <input type="text" name="q" placeholder="Search" value="{{query}}"/>
      <button type="submit" class="btn">Find</button>
     </form>
    </div>
   </div>
  </div>
  <div class="container">
   <div class="row">
    <div class="span9">
     {% include 'search/list.htm' %}
    </div>
    <div class="span3">
     {% include 'search/sidebar.htm' %}
    </div>
   </div>
  </div>
{% endblock %}
