{% extends "base.htm" %}

{% block meta %}
 <meta name="robots" value="noindex,nofollow"/>
{% endblock %}

{%block title %}phinde status - {% endblock %}

{% block maincontent %}
<div class="container">
 <div class="row">
  <div class="span6 offset3">

<h1>phinde status</h1>
<table class="table table-striped">
 <thead>
  <tr>
   <th>Group</th>
   <th>Item</th>
   <th style="text-align: right">Number</th>
  </tr>
 </thead>
 <tbody>
  <tr>
   <td rowspan="2">Elasticsearch</td>
   <td>Documents</td>
   <td style="text-align: right">{{esStatus.documents_human}}</td>
  </tr>
  <tr>
   <td>Index size</td>
   <td style="text-align: right">{{esStatus.size_human}}</td>
  </tr>
  <tr>
   <td rowspan="3">Gearman</td>
   <td>Open tasks</td>
   <td style="text-align: right">{{gearStatus.tasks}}</td>
  </tr>
  <tr>
   <td>Tasks being processed</td>
   <td style="text-align: right">{{gearStatus.processing}}</td>
  </tr>
  <tr>
   <td>Task workers</td>
   <td style="text-align: right">{{gearStatus.workers}}</td>
  </tr>
 </tbody>
</table>

  </div>
 </div>
</div>
{% endblock %}
