.footer {
    text-align: center;
    color: #AAA;
}
.navbar {
    margin-bottom: 1ex;
}

.hits {
    list-style-type: none;
    margin-left: 0px;
}
.hit {
    margin-bottom: 2ex;
}
.hit .title {
    font-size: 120%;
}
.hit .url {
    color: #070;
}
.hit .extract {
    font-size: 95%;
}
.hit .date {
    color: #666;
}
.hit em.hl {
    font-weight: bold;
}
.resultinfo {
    margin-top: 1ex;
    margin-bottom: 2ex;
}

.hit-chat .meta {
    margin-left: 3ex;
}
.hit-chat .date {
    color: inherit;
}
.hit-chat .meta {
    opacity: 0.5;
}
